<h2>Sign up</h2>
<p>
  You don't have to go through a long registration process to get started <%= link_to app_title, root_path %>. Just <%= link_to_rpx "sign in", user_session_url %> using your account with a number popular providers.
</p>
