<div class="battle warband">
  <h2><%= warband.name %></h2>
  <% warband.members.each do |member| %>
  <h4><%= member.name %></h4>
  Combat value: <%= member.combat_value %>
  <% end %>
  <p>
    <b>Total combat value:</b><%= warband.combat_value %>
  </p>
</div>
