<h2><%= @battle.outcome.humanize %></h2>
<% if @win %>
  You looted:<br>
  <% @items.each do |i| %>
    <%= render 'shared/item', :item => i %>
  <% end %>
  <%= link_to "Go to warband and distribute loot", warband_path(@warband) %><br>
<% else %>

<% end %>
<%= link_to "Return to the map", map_path %>
