<h2><%= @battle.outcome.humanize %></h2>
<% if @win %>
  You looted:<br>
  <% @items.each do |i| %>
    <%= render 'shared/item', :item => i %>
  <% end %>
<% else %>

<% end %>
<%= link_to "Return to the map", map_path %>
