<h2><%= @battle.outcome.humanize %></h2>
<% if @win %>
  <% @equipped_items.each do |i| %>
    <%= i.member.name + " has picked up " + i.name + "!"%>
    <%= render 'shared/item', :item => i %>
  <% end %>
<% else %>

<% end %>
<%= link_to "Return to the map", map_path %>
