<div id="battle_container">
  <h2><%= @title %></h2>
  <%= render 'battle/warband', :warband => @warband %>
  <div class="battle vs">
    VS
  </div>
  <%= render 'battle/enemy', :enemy => @enemy %>
</div>
<div class="clear">
</div>
<%= button_to "Engage in battle", battle_combat_path(:enemy_id => @enemy.id) %>
<script>window.onbeforeunload = function(e) {
return "Please?! You will ruin it... You're not allowed to do that! Please select to flee if that's what you want. COWARD!";
}</script>