<div id="devblog" class="grid_6 omega">
	<h2>Developer news</h2>
	
	<article class="grid_6 omega">
		<h3>First post</h3>
		<p>2011-04-27 09:55</p>
		<p>I have started to play around with the layout and design while you were asleep. We'll see how far I get.</p>
		<p>DT</p>
	</article>
</div>
