<h1><%= @title %></h1>
<p>
  <%= link_to app_title, root_path %> is an online in-browser game where you take on the role of a commander of a warband consisting of about 5 other warriors.
  The player controls the warband navigation and actions in a medieval fantasy world.
  The warband will be able to fight different creatures or other warbands and complete quests in order to conquer the world.
  The warband gains experience, money and items as they pillage their way on the path chosen by the player.
</p>
<p>
  This site is a project made for the course TDDD27 Advanced Webprogramming at LiU.
</p>
<p>
  <%= image_tag("rails.png") %> Powered by Ruby on Rails
</p>
<p>
  <%= link_to app_title, root_path %> &copy; 2011
  <b>fpdt</b>
</p>
