<h1><%= @title %></h1>
<p>
  Get in touch with the developers:
</p>
<ul>
  <li>
    <%= mail_to "freddieboi@gmail.com", "Freddie" %>
  </li>
    <li>
    <%= mail_to "dt@nospam.com", "DT" %>
  </li>
</ul>
<p>
  Visit the repository on <%= link_to "GitHub", "https://github.com/FreddieBoi/Warbands" %>.
</p>
