<div class="push_1">&nbsp;</div>
<div class="grid_5"><h3>Create a new Warband!</h3></div>
<%= render 'pages/devblog' %>
<div class="clear">&nbsp;</div>

<!--<p>Welcome to the home of <%= link_to app_title, root_path %>!</p>-->
