<h2><%= @title %></h2>
<p>
  <b>Description:</b>
  <%= @achievement.desc %>
</p>
<p>
  <b>Reputation gained:</b>
  <span class="reputation">+<%= @achievement.reputation %></span>
</p>
<%= link_to 'Show list of all achievements', achievements_path %>
