<h2><%= link_to @warband.name, warband_url(@warband) %></h2>

<p>
  <b>Reputation:</b>
  <%= @warband.reputation %>
</p>

<p>
  <b>Pos x:</b>
  <%= @warband.pos_x %>
</p>

<p>
  <b>Pos y:</b>
  <%= @warband.pos_y %>
</p>
