<h3><%= link_to @warband.name, warband_url(@warband) %></h3>
<p>
  <b>Reputation:</b>
  <%= @warband.reputation %>
</p>
<p>
  <b>Currently in region:</b>
  <%= link_to @warband.region.name, @warband.region %>
</p>
