<h2><%= @title %></h2>
<%= render 'form' %>
<h3>Remove your warband?</h3>
<p>
  Tired of your warband? <%= link_to 'Remove your warband', @warband, :confirm => 'Are you sure?', :method => :delete %>. Note, this is irreversible.
</p>
<br>
<%= link_to 'Show the warband page', @warband %>
