<h2><%= @title %></h2>
<%= render 'form' %>
<h3>Remove your warband?</h3>
<p>
  Tired of your warband? You can <%= link_to 'remove your warband', @warband, :confirm => 'Are you sure?', :method => :delete %>.
  <em>Be careful, this is <b>irreversible</b>!</em>
</p>
<br>
<%= link_to 'Show the warband page', @warband %>
