<header class="grid_12 alpha omega">
  <div class="grid_8 alpha">
    <h1><%= link_to app_title, root_path %></h1>
  </div>
  <%= render 'layouts/user_info' %>
</header>
<div class="clear">
  &nbsp;
</div>
