<header>
  <nav>
    <ul>
      <li>
        <%= link_to "Warbands", warbands_path%>
      </li>
      <li>
        <%= link_to "Members", members_path%>
      </li>
      <li>
        <%= link_to "Items", items_path%>
      </li>
    </ul>
  </nav>
</header>
